@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1.900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/*Header*/

html{
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

header{
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 45px;
}

.menu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.menu nav a{
    content: " ";
    padding: 1rem 1rem 1rem 1rem;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    transition: all 200ms ease-in;
    display: inline-block;
    
    
}

.menu nav a:hover{
    background-color: black;
    border-bottom: 3px solid #2196f3;
    color: #2196f3;
    transform: scale(1.05);
}

.logo{
    width: 20%;
    cursor: pointer;
}


.logo img{
    width: 150px;
    /*width: 160px;  */ 
}

.midias{
    
    padding-right: 1px;
    font-size: 25px;
}


.midias a {
    padding: 1rem 1rem 1rem 1rem;
    color: #ffffff;
    font-weight: 600; /* grosura das letras*/
    transition: all 200ms ease-in;
    
    
}

.midias a:hover{
    background-color: black;
    border-bottom: 3px solid #2196f3;
    color: #2196f3;
}

/*.logo{
    width: 50%;
}
*/


/* class topo site*/

.flex{
    display: flex;
}

section.topo{
    padding: 60px 9%;
}

section.topo .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-site h1{
    color: #ffffff;
    font-size: 38px;
    text-transform: uppercase;
}

.topo .topo-site p{
    color: #ffffff;
    margin: 40px 0;
}

.btn-contato a button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #2196f3;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px #2196f3;
    transform: scale(1.04);
    transition: .2s;
}
.topo-site p {
    line-height: 28px;
}



/*-------------------------------------sobre mim------------------------------*/
section.min{
    padding: 60px 9%;
}

section.min .flex{
    align-items: center;
    /*o gap e a distancia entre a img ao texto*/
    gap: 90px;
}

.min .mim-sobre h2{
    color: #ffffff;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 42px;
    margin-bottom: 30px;
}

.min .mim-sobre p{
    margin: 15px 0px;
    text-align: justify;
}

.min .mim-sobre{
    color: #ffffff;
}

.mim-sobre span{
    color: #2196f3;
}

/*botões sociais*/

.socialzinha{
    padding: 8px;
}

.socialzinha button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #2196f3;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
}

.socialzinha button:hover{
    box-shadow: 0px 0px 8px #2196f3;
    transform: scale(1.05);
    transition: .2s;
}

/* footer : rodapé */

footer{
    padding: 20px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer .line-footer{
    padding: 20px 0%;
    display: flex;
    justify-content: space-between;
}

footer .line-footer p i{
    color: #2196f3;
    font-size: 23px;
}

footer .line-footer p a {
    color: #ffffff;
    font-size: 20px;
}

.borda{
    border-top: 2px solid #2196f3;
    width: 800px;
}


/*--------------------------------- Home -------------------------------*/

section.bem-vindo{
    padding: 40px 4%;
}

section.bem-vindo .flex{
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.bem-home{
    color: #ffffff;
}

.logo-home img{
    width: 400px;
    border-radius: 30px;
}

.bem-home h1{
    margin: 8px 0px;
    font-size: 30px;
    color: #2196f3;
}

.bem-home h3{
    font-size: 23px;
}

.bem-home .btn-contato{
    margin: 20px 0px;
}

/*------------------------------ Perfil / habilidades ----------------------------*/
section.perfil{
    padding: 60px 9%;
}

section.perfil .flex{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tegp{
    color: #ffffff;
    text-align: center;
    margin: 40px 300px;  
}

.meu-perfil h1{
    font-size: 35px;
    color: #ffffff;
    margin: 10px 0px;
}

.ff{
    width: 50px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
}
/*---------------------------- Imagens / Habilidades ----------------------------*/

section.habilidades{
    padding: 60px 9%;
}

section.habilidades .flex{
    justify-content: center;
    align-items: center;
}


.hab h2{
    color: #ffffff;
    font-size: 35px;
    text-align: center;
}
.hab .img-container{
    padding: 40px;
    margin-left: 10p;
}

.imagem-com-tooltip {
    position: relative;
    display: inline-block;
    justify-content: space-between;
    margin-right: 10px;
   }
   
   .imagem-com-tooltip .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Posiciona o tooltip acima da imagem */
    left: 50%;
    margin-left: -60px; /* Centraliza o tooltip */
    opacity: 0;
    transition: opacity 0.3s;
   }
   
   .imagem-com-tooltip:hover .tooltip {
    visibility: visible;
    opacity: 1;
   }